<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="clientId" value="0ss2sdsdlkas" />
    <add key="clientSecret" value="P4emYHGsasJYT2zfDPDEp6Kjc-WK3f59s_P9X" />
    <add key="tenantUrl" value="https://dcirecondo.okta.com" />
    <add key="redirectURI" value="http://localhost:7081/" />
    <add key="apiToken" value="008GeKjytTTHeJV6lDys_vZUsjo_mCYtg7t4F6P" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>